<div class="app-header-wrapper">
<div class="app-header d-flex justify-content-between align-items-center px-4 py-4">
            <div class="app-author d-flex justify-content-start fs-3">
                <a href="#cover-page" class="cover-link">𝒩𝒾𝓀𝒾𝓉𝒶 𝒫𝒶𝓃𝒹𝑒𝓎</a>
            </div>
            <div class="app-menu">
                <ul class="list-inline my-0 fs-6">
                    <li class="list-inline-item">
                        <a
                            routerLink="/home"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >HOME</a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="/about" routerLinkActive="active">ABOUT</a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="/books" routerLinkActive="active">BOOKS</a>
                    </li>
                    <li class="list-inline-item"><a href="#author-portfolio">PORTFOLIO</a></li>
                </ul>
            </div>
            <div class="app-link d-flex justify-content-end">
                <ul class="list-inline my-0 fs-4">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/nikita.pandey.77" target="_blank" title="Follow on Facebook">
                            <i class="bi bi-facebook facebook-icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/nikitapandey.19" target="_blank"
                            title="Follow on Instagram">
                            <i class="bi bi-instagram instagram-icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/nikita-pandey-738148169" target="_blank"
                            title="Follow on LinkedIn">
                            <i class="bi bi-linkedin linkedin-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>