<div class="app-container d-flex flex-column">
        <app-header></app-header>
    <section class="app-content d-flex flex-column flex-grow-1">
        <router-outlet></router-outlet>
        <footer class="app-footer text-center align-items-end py-2 px-4">
            &copy; 2025 Nikita Pandey. All rights reserved.
        </footer>
    </section>
</div>

<ng-template #carouselModal let-modal>
    <div class="modal-body d-flex flex-column">
        <div class="d-flex justify-content-end">
            <i class="close-icon bi bi-x-lg" ngbAutofocus (click)="modal.dismiss('Close modal')" aria-label="Close"></i>
        </div>
        <div class="d-flex flex-column justify-content-center flex-grow-1">
            <ngb-carousel [activeId]="activeIndex" [interval]="7000" [pauseOnHover]="true" [pauseOnFocus]="true">
                <ng-template ngbSlide *ngFor="let imgName of portfolioImages; index as i" [id]="'img'+i">
                    <div class="img-wrapper d-flex justify-content-center p-5">
                        <img class="portfolio-img" [src]="'/assets/' + imgName" alt="Portfolio image {{i + 1}}" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</ng-template>
